.layout {
    padding: 0 5%;
}
.nav-menu {
    position: fixed;
    width: calc(100% - 10%);
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: -1;
}
.nav-active {
    z-index: 1002;
}

.layout-menu {
    height: 70px;
}
.topBtn{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #09091a;
    transition: all 1s !important;
}
.topBoxImgText{
    font-size: 35px;
    padding-top: 5px;
    transform: translateX(-6px);
    cursor: pointer;
    transition: color 3s !important;
}
.topBtn img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.log_in-background {
    background-color: #f8f8f9;
    z-index: 2;
}
.text-log_in-layout {
    display: inline-block;
    width: 50%;
    height: 400px;
}
.form-log_in-layout {
    position: absolute;
    top: 30px;
    right: 5%;
    display: flex;
    justify-content: center; 
    width: 350px;
    height: 600px; 
    perspective: 3000px;
}
.container-card {
    width: 350px;
}
.flip-card-inner {
    width: 350px;
    background-color: #f1f1f1 !important;
    border: 1px solid rgba(200,200,200,0.4);
    transition: 1.5s; 
}

.this-card{
    box-sizing: border-box;
    width: 100%;
    padding: 14px 24px;
    
}

.text-register {
    font-size: .71429rem;
    line-height: 1.3;
}
.text-register a{
    cursor: help;
}

.reg-text {
    transition: 0.7s; 
    position: absolute;
    width: 40%;
    
}
.reg-text-supplies {
    transform: translateX(-20%);
    opacity: 0;

}

.slide-text-supplies {
    transform: translateX(0);
    opacity: 1;
}

.slide-text-client {
    transform: translateY(120%);
    opacity: 0;
}
.form-group .controls #passButton {
    right: 5px !important;
    top: 10% !important;
}

.flip-card-back .form-group .controls #passButton{
    display: block;
}
.flip-card-inner.reverse .flip-card-front .form-group .controls #passButton{
  display: none !important;
}
.flip-card-inner .form-group .controls{
    position: relative;
}
.flip-card-inner.reverse .flip-card-front .form-group .controls{
    position: static !important;
}


@media (max-width: 780px) {
    .text-log_in-layout {
        display: none;
    }
    .form-log_in-layout { 
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
    }
    .span {
        margin-left: 100px;
    }
    .centerMobile{
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .span {
        margin-left: 50px;
    }
    .divLogo_step1 {
        transform: translateX(10vw);
    }
}